.footer{
    background-color: var(--background);
    border-top: 1px solid var(--border);
    text-align: center;
    padding: 16px;
}
.footer__small{
      color: var(--text-muted);
      font-size: 1.6rem;
}