.jobs-search{
    &__h1{
        font-size: 2.5rem;
        margin-bottom: .25rem;
        justify-content: center;
    }
    &__p{
        font-size: 1.6rem;
        color: var(--text-muted);
        margin-bottom: 1.5rem;
        text-align: center;
    }
    &__span{}
}

.form-busqueda__div--principal{
    margin-bottom: 2rem;
}
